/*CARDS*/
@font-face {
    font-family: 'SHERMAN';
    src: url('img/Sherman-Display.ttf') format('truetype');
}
body{
width: 100%;

}
.cardw
{
    width: 18rem;
    margin: 20px;
}
.card{
    
   
    
}
.card-body{

}

.card-text
{
    
}


#productos
{
    

    display:flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/5)), 1fr));
    
}
/*OTRA COSA*/

.nav1{
    background: linear-gradient(to bottom right,green,yellow);
}
#PESCAO
{
    color: aliceblue;
    width: 20PX;
    text-decoration:wavy;
    font-family:'SHERMAN';
}


